/* Some base CSS customizations I've found useful -- feel free to remove them if you don't need them */
#title-slide h1 { top: 20%; font-size: 2.5em; margin-top: 20%; position: relative; }
#title-slide h2 { width: 100%; text-align: center; color: #aaaaaa; border: 0; position: relative;}
.deck-container h2 { border-bottom: 0; font-size: 2em; }
.deck-container img { display: inline; }
.slide { font-size: 120% !important; }
.slide h2 { width: 100%; text-align: center; }

/* Your own custom CSS goes here */
